body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    width: 300px;
    height: auto;
}
ul {
    font-size: xx-large;
}
a {
    text-decoration: none;
}
li {
    line-height: 200%;
}